<div class="home-container">
    <div class="center-container">
        <img src="../../assets/images/logo.png" alt="Logo" class="logo">
        <div class="text-below-logo">
            <p >Get real-time updates, detailed forecasts, and weather alerts at your fingertips.</p>
            <p>Experience the ease of planning your day with reliable and</p>
            <p>intuitive weather insights.</p>
        </div>
        <div class="content-container">
            <button mat-button class="custom-button">Login</button>
            <button mat-button class="custom-button">Sign Up</button>
          </div>
      </div>
    
      <div class="carousel-container">
        <mat-card class="carousel-item" *ngFor="let item of items">
          <mat-card-content>
            {{ item.content }}
          </mat-card-content>
        </mat-card>
      </div>
    
</div>
